@charset "utf-8";
// width
$maw: 1150px;

// colors
$darkgray: #263742;


$prefixes: "-webkit-", "-o-", "-moz-", "-ms-";


html, body {
  margin:0;
  padding:0;
  height: 100%;
  min-height: 100%;
}

%flex {
  display: flex;
  flex-wrap: wrap;
}

%ul {
  list-style:none;
  padding: 0;
  margin: 0;
}

.wr {
  max-width: $maw;
  margin:0 auto;
  position: relative;
}

/*______
mixin
_______*/

@mixin addPrefix($item, $val){
  @each $tmp in $prefixes{
    #{$tmp}#{$item}:$val;
  }
  #{$item}:$val;
}

