@charset "utf-8";

@font-face {
    font-family: "sansus";
    src: url(fonts/sansus.ttf);
}

@font-face {
    font-family: "s1";
    src: url(fonts/s1.otf);
}

@font-face {
    font-family: "s4";
    src: url(fonts/s4.otf);
}

.s1 {
    font-family: s1;
}
.s4 {
    font-family: s4;
}