---
---

@charset "UTF-8";
@import '../_sass/common/reset';
@import '../_sass/common/typography';
@import '../_sass/common/vars';
@import '../_sass/common/functions';
@import '../_sass/common/mixins';
@import '../_sass/common/global';
@import '../_sass/common/helpers';

@import '../_sass/components/button';
@import '../_sass/components/wrapper';
@import '../_sass/components/header';
@import '../_sass/components/navigation';
@import '../_sass/components/social-networks';
@import '../_sass/components/lang';
@import '../_sass/components/hamburger-menu';
@import '../_sass/components/about';
@import '../_sass/components/service';
@import '../_sass/components/blog';
@import '../_sass/components/projects';
@import '../_sass/components/footer';
/*

@import 'libs/functions';

@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import url('fontawesome-all.min.css');
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

!*
	Read Only by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*!

// Breakpoints.

@include breakpoints((
        xlarge:   ( 1281px,  1680px ),
        large:    ( 1025px,  1280px ),
        medium:   ( 737px,   1024px ),
        small:    ( 481px,   736px  ),
        xsmall:   ( null,    480px  ),
));

*/
