@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&amp;subset=cyrillic,cyrillic-ext");
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

section#top > .wr, section#top > footer, section#top > .wr header, section#top > footer header, section#top > .wr header nav ul, section#top > footer header nav ul, section#contacts > .wr, section#contacts > footer, footer {
  display: flex;
  flex-wrap: wrap; }

.wr, footer {
  max-width: 940px;
  margin: 0 auto;
  position: relative; }

section#top > .wr header nav ul, section#top > footer header nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.red {
  color: #fa5c65; }

.orange {
  color: orange; }

.yellow {
  color: yellow; }

.grey {
  color: #314a5b; }

.more {
  display: inline-block;
  margin-top: 30px;
  text-decoration: none;
  color: #fa5c65;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }
  .more:after {
    content: "➜"; }

/*--------------
mixin
--------------*/
section#top {
  position: relative;
  height: 100vh;
  background: no-repeat center 0 / cover;
  background-attachment: fixed; }
  section#top > .wr, section#top > footer {
    height: 100%; }
    section#top > .wr header, section#top > footer header {
      flex-basis: 100%;
      align-self: flex-start;
      justify-content: space-between; }
      section#top > .wr header .logo, section#top > footer header .logo {
        display: block;
        width: 140px;
        height: 74px;
        background: url(../img/logo.png); }
      section#top > .wr header nav ul, section#top > footer header nav ul {
        margin-top: 20px; }
        section#top > .wr header nav ul li, section#top > footer header nav ul li {
          margin-left: 30px; }
          section#top > .wr header nav ul li a, section#top > footer header nav ul li a {
            color: white;
            font-family: "Indie Flower", cursive;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none; }
            section#top > .wr header nav ul li a:hover, section#top > footer header nav ul li a:hover {
              color: #F4D418; }
          section#top > .wr header nav ul li.social a, section#top > footer header nav ul li.social a {
            width: 25px;
            height: 25px;
            display: inline-block;
            background: url("../img/Social-Icons.png") no-repeat;
            -webkit-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: 0.3s; }
            section#top > .wr header nav ul li.social a:hover, section#top > footer header nav ul li.social a:hover {
              -webkit-filter: grayscale(0);
              -o-filter: grayscale(0);
              -moz-filter: grayscale(0);
              -ms-filter: grayscale(0);
              filter: grayscale(0); }
            section#top > .wr header nav ul li.social a.tw, section#top > footer header nav ul li.social a.tw {
              background-position: 0 0; }
            section#top > .wr header nav ul li.social a.fb, section#top > footer header nav ul li.social a.fb {
              background-position: 100% 0; }
    section#top > .wr .sloganCont, section#top > footer .sloganCont {
      max-width: 58%; }
      section#top > .wr .sloganCont h1, section#top > footer .sloganCont h1 {
        font-family: "Ubuntu", sans-serif;
        font-size: 48px;
        font-weight: 700;
        margin: 0;
        color: #F4D418; }
      section#top > .wr .sloganCont h4, section#top > footer .sloganCont h4 {
        position: relative;
        color: #314a5b;
        font-family: "Ubuntu", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        margin: 20px 0 60px 0; }
      section#top > .wr .sloganCont .btn, section#top > footer .sloganCont .btn {
        position: relative;
        display: block;
        text-decoration: none;
        margin-top: 15px; }
        section#top > .wr .sloganCont .btn span, section#top > footer .sloganCont .btn span {
          color: white;
          font-family: "Open Sans", sans-serif;
          font-size: 15px;
          font-weight: 700;
          padding: 25px 35px;
          background-color: #fa5c65;
          border-radius: 7px;
          text-transform: uppercase; }

section#contacts {
  position: relative;
  background: url(../img/layer1.png) no-repeat center/cover, url(../files/contact.jpg) no-repeat center; }
  section#contacts > .wr, section#contacts > footer {
    height: 100%;
    min-height: 100vh;
    padding: 100px 0;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-between;
    text-align: center; }
    section#contacts > .wr .row-1, section#contacts > footer .row-1, section#contacts > .wr .row-2, section#contacts > footer .row-2, section#contacts > .wr .row-3, section#contacts > footer .row-3 {
      width: 100%; }
      section#contacts > .wr .row-1 .for-title, section#contacts > footer .row-1 .for-title, section#contacts > .wr .row-2 .for-title, section#contacts > footer .row-2 .for-title, section#contacts > .wr .row-3 .for-title, section#contacts > footer .row-3 .for-title {
        font-family: "Open Sans";
        font-size: 35px;
        font-weight: 600;
        line-height: 40px;
        color: white; }
      section#contacts > .wr .row-1 .for-text, section#contacts > footer .row-1 .for-text, section#contacts > .wr .row-2 .for-text, section#contacts > footer .row-2 .for-text, section#contacts > .wr .row-3 .for-text, section#contacts > footer .row-3 .for-text {
        color: white;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        max-width: 465px;
        margin: 30px auto 100px auto; }
    section#contacts > .wr .row-2, section#contacts > footer .row-2 {
      max-width: 73%; }
      section#contacts > .wr .row-2 .for-form.flex, section#contacts > footer .row-2 .for-form.flex {
        justify-content: space-between; }
        section#contacts > .wr .row-2 .for-form.flex [type="text"], section#contacts > footer .row-2 .for-form.flex [type="text"] {
          height: 50px;
          width: 49%;
          background-color: white;
          border: 1px solid transparent;
          border-radius: 10px;
          padding: 0 15px;
          box-sizing: border-box;
          color: #3b434c;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          outline: none; }
        section#contacts > .wr .row-2 .for-form.flex textarea, section#contacts > footer .row-2 .for-form.flex textarea {
          width: 100%;
          height: 200px;
          background-color: white;
          border: 1px solid transparent;
          border-radius: 10px;
          padding: 15px;
          margin: 30px 0;
          box-sizing: border-box;
          color: #3b434c;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          outline: none; }
        section#contacts > .wr .row-2 .for-form.flex [type="submit"], section#contacts > footer .row-2 .for-form.flex [type="submit"] {
          width: 210px;
          height: 50px;
          background-color: #F4D418;
          border: 1px solid transparent;
          border-radius: 10px;
          color: white;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
          opacity: 0.8;
          transition: opacity 0.3s ease; }
        section#contacts > .wr .row-2 .for-form.flex [type="submit"][type="submit"]:hover, section#contacts > footer .row-2 .for-form.flex [type="submit"][type="submit"]:hover {
          opacity: 1; }

footer {
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  min-height: 90px;
  border-top: 1px solid #e6eaed; }
  footer .col1 a {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin-right: 20px;
    background: url(../img/Social-Icons2.png) no-repeat 0 center;
    opacity: 0.8; }
    footer .col1 a.tw {
      background-position-x: 0; }
    footer .col1 a.ins {
      background-position-x: 36%; }
    footer .col1 a.fb {
      background-position-x: 68%; }
    footer .col1 a.gp {
      background-position-x: 100%; }
    footer .col1 a:hover {
      opacity: 1; }
  footer .col2 {
    color: #9aa0ab;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 400; }

/*# sourceMappingURL=style.css.map */
