@charset "utf-8";
@import "font";
@import "setting";

.top_header {
  width: 1980px;
  height: 680px;
  background:/* url("../img/tuchka.png") repeat-x,*/ url(../img/back.png)/*, #feb0b1*/;
 /* background: */

  .header_topline{
    .back {
      .row {
        .logo{
          width: 260px;
          height: 100px;
        }
        .main-navigation {
          width: 710px;
          height: 10px;
          padding-top: 42px;
          ul {
            display: flex;
            flex-wrap: wrap;
            list-style:none;
            padding: 0;
            margin: 0;
            li {

              a{
                padding-left: 48px;
                color: black;
                font-family: Karton;
                font-size: 22px;
                font-weight: 400;
                line-height: 0;
                text-decoration: none;
              }

            }
          }
        }
        .navi {
          width: 180px;
          height: 100px;
          padding-top: 20px;
          font-family: Karton;
          font-size: 22px;
          font-weight: 400;
        }
      }
      .texti {
        height: 574px;
        .hidi{
          padding-top: 130px;
          padding-bottom:100px;
          color: black;
          font-family: Karton;
          font-size: 28px;
          font-weight: bold;
          line-height: 1.5;
          .two {
            color: #2aabd2;
            font-size: 41px;
          }
          .three {
            padding-left: 300px;
          }
        }
        .batn {
          display: block;
          text-decoration: none;
          position: relative;
          width: 230px;
          height: 100px;
          padding-top: 20px;
          padding-left: 20px;
          margin-left: 410px;
          background: url(../img/katalog.png) no-repeat center/contain;

          &:hover {
            background: url(../img/kataloghov.png) no-repeat center/contain;
          }
          span{

            color: white;
            font-family: Karton;
            font-size: 52px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.raznoe {
  .razn {
    height: 200px;
  }
}
