---
layout: default
i18n-link: index
lang: en
title: My Blog
categories: [blog, travel]
tags: [hot, summer]
---

<div id="main">
  <section id="three">
    <div class="container">
      {% assign posts=paginator.posts | where:"lang", page.lang %}
      <h2>Blog</h2>
      <div style="background: #0FA0CE">
        {% for category in site.categories %}
          <h3>{{ category[0] }}</h3>
          <ul>
            {% for post in category[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div style="background: yellow">
        {% for tag in site.tags %}
          <h3>{{ tag[0] }}</h3>
          <ul>
            {% for post in tag[1] %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <div class="features">
        {% for tag in site.tags %}
          <h3>{{ tag[0] }}</h3>
          {% for post in site.posts %}
            <article>
              {% include article-blog.html %}
              <div class="entry">
                {{ post.excerpt }}
                <a class="button primary" href="{{ site.base-url }}{{ post.url }}">Read more <i
                      class="fa fa-chevron-right"></i></a>
              </div>
            </article>
          {% endfor %}
        {% endfor %}
      </div>
    </div>

  </section>
</div>

