<!-- Header -->
<section id="header" class="header">
  <header>
    <span class="image avatar"><img src="{{ site.base-url }}/assets/images/profile.jpg" alt="photo"/></span>
    <h1 id="logo"><a href="/">Yaroslav Baronin</a></h1>
  </header>
  <nav id="nav">
    {% include nav-ul.html %}
  </nav>
  <footer>
    {% include select-lang.html %}
    <ul class="share-social">
      <li>
        <a href="https://vk.com/baronin_yaroslav" class="icon fa-vk">
          <span class="label" target="_blank" rel="noreferrer" title="social vk">Vkontakte</span>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/yaroslav.baronin" class="icon fa-facebook" target="_blank" rel="noreferrer"
           title="social fb">
          <span class="label">Facebook</span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/baronin_yaroslav/" class="icon fa-instagram" target="_blank" rel="noreferrer"
           title="social inst">
          <span class="label">Instagram</span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/yaroslav-baronin/" class="icon fa-linkedin" target="_blank" rel="noreferrer"
           title="social linkedin">
          <span class="label">Linkedin</span>
        </a>
      </li>
    </ul>
  </footer>
</section>