<section class="section-nav">
  <h1 class="visible-hidden">Navigation</h1>
  <button class="section-nav__btn-toggle" id="hamburger"></button>
  <header class="section-nav__header">
    <span class="section-nav__header-avatar"><img src="{{ site.base-url }}/assets/images/profile.jpg" alt="photo"/></span>
    <h2 class="section-nav__header-title"><a href="/">Yaroslav Baronin</a></h2>
  </header>
  {% include nav.html %}
  <footer class="section-nav__footer">
    {% include select-lang.html %}
    {% include social-link.html %}
  </footer>
</section>
