{% assign title =  site.data.service['web-title'][page.lang].service %}
<section class="service">
  {% for items in site.data.service['services'][page.lang] %}
    <div class="service-items">
      {% if items.servicename == "Веб-разработка" %}
        <h2 class="service-title">{{ items.servicename }}</h2>
        <ul class="service-list">
          {% for service in site.data.service.services.development %}
            <li class="service-item">
              <div class="service-item-icon">
                {% assign handle  = service.service %}
                {% case handle %}
                {% when 'HTML coding' %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% when 'Programming languages' %}
                  {% include progress-bar.html value="0.79" size="70" icon="js" %}
                {% when 'Libraries' %}
                  {% include progress-bar.html value="0.72" size="70" icon="react" %}
                {% when 'Automation' %}
                  {% include progress-bar.html value="0.82" size="70" icon="Gulp" %}
                {% when 'Packet Manager' %}
                  {% include progress-bar.html value="0.85" size="70" icon="npm" %}
                {% when 'Tools' %}
                  {% include progress-bar.html value="0.95" size="70" icon="webstorm" %}
                {% when 'Git' %}
                  {% include progress-bar.html value="0.90" size="70" icon="github" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-item-content">
                <h4>{{ service.service }}</h4>
                <ul class="skills-list">
                  {% assign skills = site.data.service %}
                  {% assign handle  = service.service %}
                  {% case handle %}
                  {% when 'HTML coding' %}
                    {% for markup in skills.markup %}
                      <li>{{ markup.technology }}</li>
                    {% endfor %}
                  {% when 'Programming languages' %}
                    {% for language in skills.language %}
                      <li>{{ language.technology }}</li>
                    {% endfor %}
                  {% when 'Libraries' %}
                    {% for library in skills.library %}
                      <li>{{ library.technology }}</li>
                    {% endfor %}
                  {% when 'Automation' %}
                    {% for automation in skills.automation %}
                      <li>{{ automation.technology }}</li>
                    {% endfor %}
                  {% when 'Packet Manager' %}
                    {% for packetManager in skills.packetManager %}
                      <li>{{ packetManager.technology }}</li>
                    {% endfor %}
                  {% when 'Tools' %}
                    {% for tools in skills.tools %}
                      <li>{{ tools.technology }}</li>
                    {% endfor %}
                  {% when 'Git' %}
                    {% for git in skills.git %}
                      <li>{{ git.technology }}</li>
                    {% endfor %}
                    {% else %}
                  {% endcase %}
                </ul>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if items.servicename == "Web Development" %}
        <h2 class="service-title">{{ items.servicename }}</h2>
        <ul class="service-list">
          {% for service in site.data.service.services.development %}
            <li class="service-item">
              <div class="service-item-icon">
                {% assign handle  = service.service %}
                {% case handle %}
                {% when 'HTML coding' %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% when 'Programming languages' %}
                  {% include progress-bar.html value="0.79" size="70" icon="js" %}
                {% when 'Libraries' %}
                  {% include progress-bar.html value="0.72" size="70" icon="react" %}
                {% when 'Automation' %}
                  {% include progress-bar.html value="0.82" size="70" icon="Gulp" %}
                {% when 'Packet Manager' %}
                  {% include progress-bar.html value="0.85" size="70" icon="npm" %}
                {% when 'Tools' %}
                  {% include progress-bar.html value="0.95" size="70" icon="webstorm" %}
                {% when 'Git' %}
                  {% include progress-bar.html value="0.90" size="70" icon="github" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-item-content">
                <h4>{{ service.service }}</h4>
                <ul class="skills-list">
                  {% assign skills = site.data.service %}
                  {% assign handle  = service.service %}
                  {% case handle %}
                  {% when 'HTML coding' %}
                    {% for markup in skills.markup %}
                      <li>{{ markup.technology }}</li>
                    {% endfor %}
                  {% when 'Programming languages' %}
                    {% for language in skills.language %}
                      <li>{{ language.technology }}</li>
                    {% endfor %}
                  {% when 'Libraries' %}
                    {% for library in skills.library %}
                      <li>{{ library.technology }}</li>
                    {% endfor %}
                  {% when 'Automation' %}
                    {% for automation in skills.automation %}
                      <li>{{ automation.technology }}</li>
                    {% endfor %}
                  {% when 'Packet Manager' %}
                    {% for packetManager in skills.packetManager %}
                      <li>{{ packetManager.technology }}</li>
                    {% endfor %}
                  {% when 'Tools' %}
                    {% for tools in skills.tools %}
                      <li>{{ tools.technology }}</li>
                    {% endfor %}
                  {% when 'Git' %}
                    {% for git in skills.git %}
                      <li>{{ git.technology }}</li>
                    {% endfor %}
                    {% else %}
                  {% endcase %}
                </ul>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if items.servicename == "Веб-дизайн" %}
        <h2 class="service-title">{{ items.servicename }}</h2>
        <ul class="service-list -web-design">
          {% for webdesign in site.data.service.services.webdesign %}
            <li class="service-item">
              <div class="service-item-icon">
                {% assign handle  = webdesign.service %}
                {% case handle %}
                {% when 'Photoshop' %}
                  {% include progress-bar.html value="0.75" size="70" icon="ps" %}
                {% when 'AI' %}
                  {% include progress-bar.html value="0.50" size="70" icon="ai" %}
                {% when 'Figma' %}
                  {% include progress-bar.html value="0.72" size="70" icon="figma" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-item-content">
                <h4>{{ webdesign.service }}</h4>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if items.servicename == "Web design" %}
        <h2 class="service-title">{{ items.servicename }}</h2>
        <ul class="service-list -web-design">
          {% for webdesign in site.data.service.services.webdesign %}
            <li class="service-item">
              <div class="service-item-icon">
                {% assign handle  = webdesign.service %}
                {% case handle %}
                {% when 'Photoshop' %}
                  {% include progress-bar.html value="0.75" size="70" icon="ps" %}
                {% when 'AI' %}
                  {% include progress-bar.html value="0.50" size="70" icon="ai" %}
                {% when 'Figma' %}
                  {% include progress-bar.html value="0.72" size="70" icon="figma" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-item-content">
                <h4>{{ webdesign.service }}</h4>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

      <!--
        {% if items.servicename == "Веб-дизайн" %}
        <h2>{{ items.servicename }}</h2>
        {% for webdesign in site.data.service.services.webdesign %}
          <div class="service-items">
            <div class="service-item">
              <div class="service-icon">
                {% assign handle  = webdesign.service %}
                {% case handle %}
                {% when 'Photoshop' %}
                  {% include progress-bar.html value="0.87" size="70" icon="react" %}
                {% when 'AI' %}
                  {% include progress-bar.html value="0.79" size="70" icon="js" %}
                {% when 'Figma' %}
                  {% include progress-bar.html value="0.72" size="70" icon="react" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-content">
                <h4>{{ webdesign.service }}</h4>
                <ul class="skills-list">
                  {% assign skills = site.data.service %}
                  {% assign handle  = service.service %}
                  {% case handle %}
                  {% when 'HTML coding' %}
                    {% for markup in skills.markup %}
                      <li>{{ markup.technology }}</li>
                    {% endfor %}
                  {% when 'Programming languages' %}
                    {% for language in skills.language %}
                      <li>{{ language.technology }}</li>
                    {% endfor %}
                  {% when 'Libraries' %}
                    {% for library in skills.library %}
                      <li>{{ library.technology }}</li>
                    {% endfor %}
                  {% when 'Automation' %}
                    {% for automation in skills.automation %}
                      <li>{{ automation.technology }}</li>
                    {% endfor %}
                  {% when 'Packet Manager' %}
                    {% for packetManager in skills.packetManager %}
                      <li>{{ packetManager.technology }}</li>
                    {% endfor %}
                  {% when 'Tools' %}
                    {% for tools in skills.tools %}
                      <li>{{ tools.technology }}</li>
                    {% endfor %}
                  {% when 'Git' %}
                    {% for git in skills.git %}
                      <li>{{ git.technology }}</li>
                    {% endfor %}
                    {% else %}
                  {% endcase %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if items.servicename == "Web Development" %}
        <h2>{{ items.servicename }}</h2>
        {% for service in site.data.service.services.development %}
          <div class="service-items">
            <div class="service-item">
              <div class="service-icon">
                {% assign handle  = service.service %}
                {% case handle %}
                {% when 'HTML coding' %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% when 'Programming languages' %}
                  {% include progress-bar.html value="0.79" size="70" icon="js" %}
                {% when 'Libraries' %}
                  {% include progress-bar.html value="0.72" size="70" icon="react" %}
                {% when 'Automation' %}
                  {% include progress-bar.html value="0.82" size="70" icon="Gulp" %}
                {% when 'Packet Manager' %}
                  {% include progress-bar.html value="0.85" size="70" icon="npm" %}
                {% when 'Tools' %}
                  {% include progress-bar.html value="0.95" size="70" icon="webstorm" %}
                {% when 'Git' %}
                  {% include progress-bar.html value="0.90" size="70" icon="github" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-content">
                <h4>{{ service.service }}</h4>
                <ul class="skills-list">
                  {% assign skills = site.data.service %}
                  {% assign handle  = service.service %}
                  {% case handle %}
                  {% when 'HTML coding' %}
                    {% for markup in skills.markup %}
                      <li>{{ markup.technology }}</li>
                    {% endfor %}
                  {% when 'Programming languages' %}
                    {% for language in skills.language %}
                      <li>{{ language.technology }}</li>
                    {% endfor %}
                  {% when 'Libraries' %}
                    {% for library in skills.library %}
                      <li>{{ library.technology }}</li>
                    {% endfor %}
                  {% when 'Automation' %}
                    {% for automation in skills.automation %}
                      <li>{{ automation.technology }}</li>
                    {% endfor %}
                  {% when 'Packet Manager' %}
                    {% for packetManager in skills.packetManager %}
                      <li>{{ packetManager.technology }}</li>
                    {% endfor %}
                  {% when 'Tools' %}
                    {% for tools in skills.tools %}
                      <li>{{ tools.technology }}</li>
                    {% endfor %}
                  {% when 'Git' %}
                    {% for git in skills.git %}
                      <li>{{ git.technology }}</li>
                    {% endfor %}
                    {% else %}
                  {% endcase %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if items.servicename == "Web design" %}
        <h2 class="service-title --web-design">{{ items.servicename }}</h2>
        {% for webdesign in site.data.service.services.webdesign %}
          <div class="service-items">
            <div class="service-item">
              <div class="service-icon">
                {% assign handle  = webdesign.service %}
                {% case handle %}
                {% when 'Photoshop' %}
                  {% include progress-bar.html value="0.87" size="70" icon="react" %}
                {% when 'AI' %}
                  {% include progress-bar.html value="0.79" size="70" icon="js" %}
                {% when 'Figma' %}
                  {% include progress-bar.html value="0.72" size="70" icon="react" %}
                  {% else %}
                  {% include progress-bar.html value="0.87" size="70" icon="html" %}
                {% endcase %}
              </div>
              <div class="service-content">
                <h4>{{ webdesign.service }}</h4>
                <ul class="skills-list">
                  {% assign skills = site.data.service %}
                  {% assign handle  = service.service %}
                  {% case handle %}
                  {% when 'HTML coding' %}
                    {% for markup in skills.markup %}
                      <li>{{ markup.technology }}</li>
                    {% endfor %}
                  {% when 'Programming languages' %}
                    {% for language in skills.language %}
                      <li>{{ language.technology }}</li>
                    {% endfor %}
                  {% when 'Libraries' %}
                    {% for library in skills.library %}
                      <li>{{ library.technology }}</li>
                    {% endfor %}
                  {% when 'Automation' %}
                    {% for automation in skills.automation %}
                      <li>{{ automation.technology }}</li>
                    {% endfor %}
                  {% when 'Packet Manager' %}
                    {% for packetManager in skills.packetManager %}
                      <li>{{ packetManager.technology }}</li>
                    {% endfor %}
                  {% when 'Tools' %}
                    {% for tools in skills.tools %}
                      <li>{{ tools.technology }}</li>
                    {% endfor %}
                  {% when 'Git' %}
                    {% for git in skills.git %}
                      <li>{{ git.technology }}</li>
                    {% endfor %}
                    {% else %}
                  {% endcase %}
                </ul>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
       -->

    </div>
  {% endfor %}
</section>


