@font-face {
    font-weight: 400;
    font-family: "PT Sans";
    src: url("fonts/ptsans.woff") format("woff");
  }
  
  body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
  }
  
  .breadcrumbs {
    display: inline-block;
    margin: 150px 0;
    box-shadow: 0 0 2px #aaaaaa;
    color: black;
    counter-reset: flag;
  }
  
  .breadcrumbs a {
    position: relative;
    float: left;
    padding-right: 10px;
    padding-left: 60px;
    background-color: white;
    color: black;
    text-decoration: none;
    line-height: 36px;
    transition: background-color 0.1s;
  }
  
  .breadcrumbs a::after {
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
    width: 36px;
    height: 36px;
    border-radius: 50px 0 0 0;
    background-color: white;
    box-shadow: 1px 1px 0 1px #dddddd;
    content: "";
    transition: background-color 0.1s;
    transform: rotate(-45deg) scale(0.73);
  }
  
  .breadcrumbs a:hover,
  .breadcrumbs a:hover::after,
  .breadcrumbs a.active,
  .breadcrumbs a.active::after {
    background-color: #f1c40f;
  }
  
  .breadcrumbs a::before {
    position: absolute;
    top: 8px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    left: 30px;
    box-shadow: 0 0 2px #cccccc;
    content: counter(flag);
    counter-increment: flag;
    line-height: 20px;
  }
  
  .breadcrumbs a:first-child {
    padding-left: 46px;
  }
  
  .breadcrumbs a:first-child::before {
     left: 14px;
  }
  

  /*
   MAP
  */
  .map {
    position: relative;
    margin: 50px auto;
    width: 360px;
    height: 360px;
    border: 20px solid white;
    background: url("map.jpg") no-repeat 50% 50% #ffffff;
    box-shadow: 0 0 3px #cccccc;
  }
  
  .pin {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 15px;
    height: 15px;
    border: 10px solid #f75850;
    font-size: 0;
    box-shadow:-2px 2px 2px 0px #aaa;
    border-radius: 50% 50%  50% 0;
    transform: rotate(-45deg)
  }
  
  .annotation {
    position: absolute;
    bottom: -60px;
    width: 100%;
    text-align: center;
  }