---
title: "Projects"
layout: "projects"
i18n-link: "projects"
---

{% for project in site.data.projects.UA %}
  <article class="project-article">
    <div class="project-article-image-wrap">
      <a class="project-article-image" href="{{ project.link }}">
        <img src="{{ site.base-url }}{{ image.path }}{{ project.pathImg }}" alt="{{ project.name }}"
             title="{{ project.name }}">
      </a>
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
    </div>
    <div class="project-article-content">
      <h5>Технології</h5>
      <ul class="project-technology">
        {% for item in project.technologies %}
          <li>{{ item.technology }}</li>
        {% endfor %}
      </ul>
      <p class="project-created">{{ project.madeBy }}</p>
    </div>
    <div class="project-article-btn-wrap">
      <a class="button button-primary" href="{{ project.link }}">Перейти на сайт</a>
    </div>
  </article>
{% endfor %}




