@charset "UTF-8";
@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

	@import "libs/skel";

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 1024px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: 2em ),
		conditionals: true,
		containers: 45em,
		breakpoints: (
			large: (
				containers: 42em,
				grid: (
					gutters: 1.5em
				)
			),
			medium: (
				containers: (85%, true),
			),
			small: (
				containers: (90%, true),
				grid: (
					gutters: 1.25em
				)
			)
		)
	));

	$size-header: 23em;

@import "components/basic";
@import "components/header";
@import "components/form";
@import "components/box";
@import "components/icon";
@import "components/image";
@import "components/list";
@import "components/button";
@import "components/features";
@import "components/wrapper";
@import "components/main";
@import "components/section-one";
@import "components/footer";
@import "components/breakpoint";
@import "components/section-article";

