@import "../../_sass/common/mixins";
@import "../../_sass/common/vars";
@import "../../_sass/common/functions";

.service {
  padding: _indents(small);
}

.service-items {
  padding-bottom: _indents(medium);
  &:last-child {
    padding-bottom: 0;
  }
}

.service-list {
  @include sm-mobile {
    display: flex;
    flex-wrap: wrap;
  }

  &.-web-design {
    .service-item-content {
      display: flex;
      align-items: center;
    }
    h4 {
      font-size: $font-size-xlarge;
    }
  }
}

.service-item {
  display: flex;
  width: 100%;
  padding: _indents(small) 0;

  @include sm-mobile {
    display: flex;
    width: 50%;
  }
  @include desktop {
    padding-left: _indents(small);
    padding-right: _indents(small);
  }
  @include wide-width {
    width: 33.33%;
  }

  @include fhd {
    width: 25%;
  }
}

.service-item-content {
  margin-left: _indents(small);
}

.skills-list {
  line-height: 1.2;
}
/*.service-list {
  margin-bottom: 30px;
  @include sm-mobile {
   !* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;*!
  }
}

.service-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 15px;
  margin-bottom: 30px;
  @include sm-mobile {
    max-width: 50%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
  @include tablet {
    max-width: 33.33%;
  }
}

.service-content {
  margin-left: _indents(small);

  .skills-list {
    li {
      position: relative;
      display: inline-block;
      width: 100%;
      padding-top: 5px;
      vertical-align: top;
      text-decoration: none;
    }
  }
}*/


.progress-bar-round {
  position: relative;
  display: inline-block;
  border-top: 30px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;

  strong {
    position: absolute;
    bottom: -35px;
    left: 50%;
    font-size: $font-size-medium;
    font-weight: bold;
    color: #1e463b;
    transform: translateX(-50%);
  }
}
