@import "../../_sass/common/vars";
@import "../../_sass/common/functions";
@import "../../_sass/common/mixins";
.about {
  p {
    line-height: 1.5;
  }

  h3, h4 {
    padding-top: 30px;
  }
}

.about__title {
  color: _palette(font, green);
  margin-bottom: _indents(small);
}

.about__sub-title {
  font-size: $font-size-medium;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: _indents(small);
}
