/* XLarge */

@include breakpoint(xlarge) {

  $size-header: 21em;

  /* Basic */

  body, input, select, textarea {
    font-size: 13pt;
  }

  /* Header */

  #header {
    width: $size-header;

    > header {
      padding: 2em;
    }

    > footer {
      padding: 1.5em;
    }
  }

  /* Wrapper */

  #wrapper {
    @if _misc(header-side) == 'right' {
      padding-right: $size-header;
    } @else {
      padding-left: $size-header;
    }
  }

  /* Main */

  #main {
    > section {
      > .container {
        padding: 4em 0 2em 0;
      }
    }
  }

}

/* Large */

@include breakpoint(large) {

  $size-header: 20em;

  /* Basic */

  body, input, select, textarea {
    font-size: 11pt;
  }

  /* Header */

  #header {
    width: $size-header;
  }

  /* Wrapper */

  #wrapper {
    @if _misc(header-side) == 'right' {
      padding-right: $size-header;
    } @else {
      padding-left: $size-header;
    }
  }

}

/* Medium */

#titleBar {
  display: none;
}

@include breakpoint(medium) {

  /* Basic */

  html, body {
    overflow-x: hidden;
  }

  body, input, select, textarea {
    font-size: 12pt;
  }

  /* Image */

  .image {
    &.left,
    &.right {
      max-width: 40%;

      img {
        width: 100%;
      }
    }
  }

  /* Header */

  #header {
    @include vendor('backface-visibility', 'hidden');
    @include vendor('transition', ('transform #{_duration(header)} ease'));
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: $size-header;
    z-index: _misc(z-index-base) + 2;

    @if _misc(header-side) == 'right' {
      @include vendor('transform', 'translateX(#{$size-header})');
      right: 0;
    } @else {
      @include vendor('transform', 'translateX(#{$size-header * -1})');
      left: 0;
    }

    > footer {
      bottom: auto;
      left: auto;
      margin: 0.5em 0 0 0;
      position: relative;
      right: auto;
      top: auto;
    }
  }

  /* Wrapper */

  #wrapper {
    @include vendor('backface-visibility', 'hidden');
    @include vendor('transition', 'transform #{_duration(header)} ease');
    padding: 44px 0 1px 0;
  }

  /* One */

  #one {
    &:before {
      height: 10em;
    }
  }

  /* Off-Canvas Navigation */

  #titleBar {
    @include vendor('backface-visibility', 'hidden');
    @include vendor('transition', 'transform #{_duration(header)} ease');
    display: block;
    height: 44px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base) + 1;
    background: #222;
    color: #fff;
    min-width: 320px;

    .title {
      color: #fff;
      display: block;
      font-weight: _font(weight-bold);
      height: 44px;
      line-height: 44px;
      padding: 0 1em;
      width: 100%;

      @if _misc(header-side) == 'right' {
        text-align: left;
      } @else {
        text-align: right;
      }

      a {
        border: 0;
        text-decoration: none;
      }
    }

    .toggle {
      @include icon;
      height: 4em;
      position: absolute;
      top: 0;
      width: 6em;
      border: 0;
      outline: 0;

      @if _misc(header-side) == 'right' {
        right: 0;
      } @else {
        left: 0;
      }

      &:before {
        background: _palette(accent1, bg);
        color: _palette(accent1, fg-bold);
        content: '\f0c9';
        display: block;
        font-size: 18px;
        height: 44px;
        line-height: 44px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 64px;

        @if _misc(header-side) == 'right' {
          right: 0;
        } @else {
          left: 0;
        }
      }
    }
  }

  body {
    &.header-visible {
      #wrapper, #titleBar {
        @if _misc(header-side) == 'right' {
          @include vendor('transform', 'translateX(#{$size-header * -1})');
        } @else {
          @include vendor('transform', 'translateX(#{$size-header})');
        }
      }

      #header {
        @include vendor('transform', 'translateX(0)');
      }
    }
  }

}

/* Small */

@include breakpoint(small) {

  $size-header: 17em;

  /* Basic */

  body, input, select, textarea {
    font-size: 12pt;
  }

  h1, h2, h3, h4, h5, h6 {
    br {
      display: none;
    }
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  /* Image */

  .image {
    &.left {
      margin: 0 1.5em 1em 0;
    }

    &.right {
      margin: 0 0 1em 1.5em;
    }
  }

  /* Section/Article */

  header {
    br {
      display: none;
    }

    &.major {
      h2 {
        font-size: 2.5em;

        & + p {
          font-size: 1.5em;
        }
      }
    }
  }

  /* Features */

  .features {
    article {
      .image {
        display: block;
        margin: 0 0 _size(element-margin) 0;
        padding-right: 0;
        width: 100%;
      }

      .inner {
        display: block;
        width: 100%;
      }
    }
  }

  /* Header */

  #header {
    width: $size-header;

    @if _misc(header-side) == 'right' {
      @include vendor('transform', 'translateX(#{$size-header})');
      right: 0;
    } @else {
      @include vendor('transform', 'translateX(#{$size-header * -1})');
      left: 0;
    }

    > header {
      padding: 2em;

      .avatar {
        margin: 0 auto (_size(element-margin) * 0.75) auto;
        width: 6em;
      }

      h1 {
        font-size: 1.5em;
      }

      p {
        margin: 1em 0 0 0;
      }
    }

    > footer {
      padding: 1.5em;
    }
  }

  /* Main */

  #main {
    > section {
      > .container {
        padding: 2em 0 0 0;
      }
    }
  }

  /* One */

  #one {
    &:before {
      height: 7em;
    }
  }

  /* Footer */

  #footer {
    text-align: center;

    .copyright {
      li {
        border-left: 0;
        display: block;
        line-height: 1.75em;
        margin: 0.75em 0 0 0;
        padding-left: 0;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  /* Off-Canvas Navigation */

  #titleBar {
    .toggle {
      height: 4em;
      width: 6em;

      &:before {
        font-size: 14px;
        width: 44px;
      }
    }
  }

  body {
    &.header-visible {
      #wrapper, #titleBar {
        @if _misc(header-side) == 'right' {
          @include vendor('transform', 'translateX(#{$size-header * -1})');
        } @else {
          @include vendor('transform', 'translateX(#{$size-header})');
        }
      }
    }
  }

}

/* XSmall */

@include breakpoint(xsmall) {

  /* Basic */

  html, body {
    min-width: 320px;
  }

  body, input, select, textarea {
    font-size: 12pt;
  }

  /* List */

  ul {
    &.actions {
      margin: 0 0 _size(element-margin) 0;

      li {
        display: block;
        padding: (_size(element-margin) * 0.5) 0 0 0;
        text-align: center;
        width: 100%;

        &:first-child {
          padding-top: 0;
        }

        > * {
          width: 100%;
          margin: 0 !important;

          &.icon {
            &:before {
              margin-left: -2em;
            }
          }
        }
      }

      &.small {
        li {
          padding: (_size(element-margin) * 0.25) 0 0 0;

          &:first-child {
            padding-top: 0;
          }
        }
      }
    }

    &.feature-icons {
      li {
        display: block;
        width: 100%;
      }
    }
  }
}