/* Features */

.features {
  article {
    border-top: solid (_size(border-width) * 1.5) _palette(border);
    margin-bottom: _size(element-margin);
    padding-top: _size(element-margin);

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    .image {
      display: inline-block;
      padding-right: 2.5em;
      vertical-align: middle;
      width: 48%;

      img {
        display: block;
        width: 100%;
      }
    }

    .inner {
      display: inline-block;
      vertical-align: middle;
      width: 50%;

      > :last-child {
        margin-bottom: 0;
      }
    }
  }
}