@import "../../_sass/common/mixins";
@import "../../_sass/common/functions";

.footer {
  text-align: center;
  padding: _indents(large) _indents(small);
  background: #f7f2f2;
  color: #c0c0c0;
  overflow: hidden;
  @include wide-width {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
