@import "../../_sass/common/mixins";
@import "../../_sass/common/vars";
@import "../../_sass/common/functions";

.header {
  width: 100%;
}

.header__top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 _indents(small);
  background-color: _palette(header, bgdark);
  z-index: 1;
  @include desktop {
    width: calc(100% - 320px);
  }
  @include fhd {
    width: calc(100% - 490px);
  }
  .lang {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;

    a {
      padding: 5px 10px;
    }
  }
}

.header__logo-link {
  display: block;
  font-size: $font-size-xmedium;
  font-weight: bold;
}

.header__bg {
  margin-top: 56px;
  height: 192px;
  @include fhd {
    height: 192px * 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

