/* One */

#one {
  &:before {
    background-image: url('../../assets/images/banner.jpg');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 15em;
    width: 100%;
  }
}
