.social-networks {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  transition: opacity .5s .7s, transform .5s .7s;
}

/* Layout */

.social-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 5px;
  min-height:6rem;
  z-index: 5;

  li {
    flex: 1 1 0;
    text-align: center;
    padding: 0 10px;
  }

  .icon {
    position: absolute;
    font-size: 22px;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* The social links */

.social-link {
  position: relative;
  padding: 2px;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  background-color: _palette(nav, bgclink);
  outline: 0 solid;
  width: 3rem;
  height: 3rem;
  transition: all .3s ease-out;
  box-shadow: 0 .25em .25em rgba(0,0,0,.3);
  background-repeat: no-repeat;
  animation: social-hover-off .3s ease-out forwards;
}
.social-link:hover,
.social-link:focus {
  background-color: currentColor;
  outline: 0 solid;
  box-shadow: 0 .5em .5em rgba(0,0,0,.0);
  animation: social-hover-on .8s ease-out forwards;
  transition: all .3s ease-out;
}
@keyframes social-hover-off {
  0% {width: 3em; height:3em}
  70% {width: 2.25em; height:3.5em}
  100% {width: 3em; height:3em}
}

@keyframes social-hover-on {
  0% {width: 3em; height:3em}
  30% {width: 2.25em; height:3.5em}
  100% {width: 3em; height:3em}
}
.social-link:active {
  box-shadow: none;
}
[class*="social-link "].-clicked {
  animation: pressed-social .3s ease-out;
}
@keyframes pressed-social {
  0% {transform: scale(1.1);}
  50% {transform: scale(.8); background-color:#503660; box-shadow: none;}
  100% {transform: scale(1.2);}
}
.social-link span {
  display:none;
}
.social-link i {
  position: relative;
  display:block;
  width: 100%;
  height: 6rem;
  z-index: 5;
  background-color: transparent;
  &:before {
    content: '';
    position: absolute;
    top: 8px;
    transform: translateX(-50%);
    left: 50%;
    width: 30px;
    height: 30px;
  }
}

/* Individual social icons (works in IE) */
.social-link {
  background-size: contain;

  &.linkedin {
    color: #007BB5;
    i:before {
      background-image: url(../assets/images/icons/socials/linkedin.svg);
    }
  }
  &.linkedin::after,
  &.linkedin::before {
    background-color: #007BB5;
    box-shadow: 0 .5em .5em #007BB5;
  }

  &.instagram {
    color: #c1388f;
    i:before {
      background-image: url(../assets/images/icons/socials/instagram.svg);
    }
  }
  &.instagram::after,
  &.instagram::before {
    background-color: #c1388f;
    box-shadow: 0 .5em .5em #c1388f;
  }

  &.facebook {
    color: #3C5193;
    i:before {
      background-image: url(../assets/images/icons/socials/facebook.svg);
    }
  }
  &.facebook::after,
  &.facebook::before {
    background-color: #3C5193;
    box-shadow: 0 .5em .5em #3C5193;
  }

  &.vk {
    color: #4c75a3;
    i:before {
      background-image: url(../assets/images/icons/socials/vk.svg);
    }
  }
  &.vk::after,
  &.vk::before {
    background-color: #4c75a3;
    box-shadow: 0 .5em .5em #4c75a3;
  }
}

/* Part 2 - Animated tooltips - Based on: https://codepen.io/devy_pl/pen/QEAgdA */

.social-link::after {
  display: block;
  position: absolute;
  content: attr(aria-label);
  color: white;
  border-radius: 50%;
  padding:.7em .7em 0em;

  white-space: nowrap;
  pointer-events: none;

  top: 110%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100%) scale(0.6);

  font-size: .8em;
  animation: hovered-social-out .25s ease-out forwards;
  transition: .3s ease-out;
}

.social-link:hover::after,
.social-link:focus::after {
  border-radius: 2em 2em 1em 1em;
  animation: hovered-social-in .5s ease-out .15s forwards;
}
@keyframes hovered-social-in {
  0% {transform: translate(-50%, -100%) scale(.6); opacity: .5;}
  100% {transform: translate(-50%, 30%) scale(1); opacity: 1;}
}
@keyframes hovered-social-out {
  0% {transform: translate(-50%, 10%) scale(1); opacity: 1;}
  100% {transform: translate(-50%, -100%) scale(.6); opacity: 0;}
}

 /*Attempt at using ::before to replace / enhance gooeyness */


.social-link::before {
  xcontent: attr(aria-label);
  content: '';;
  position: absolute;
  top: 100%;
  left: 50%;
  display: block;
  width: 2rem;
  height: 0rem;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -100%) scale(0.6);
  transition: .3s ease-out;
  animation: hovered-social-before-out .3s ease-out 0s forwards;
  z-index: -1;
}

.social-link:hover::before,
.social-link:focus::before {
  animation: hovered-social-before-in .3s ease-out .15s forwards;
}
@keyframes hovered-social-before-in {
  0% {transform: translate(-50%, -100%) scale(.6); opacity: .5;}
  100% {transform: translate(-50%, 30%) scale(1); opacity: 1; width: 110%; height: 1.5rem;}
}
@keyframes hovered-social-before-out {
  0% {transform: translate(-50%, 10%) scale(1); opacity: 1;}
  100% {transform: translate(-50%, -100%) scale(.6); opacity: 0;}
}

